@use "../variables" as *;

.listings-map {
  width: 100%;
  height: 100%;
  border-radius: $border-radius-md;
  overflow: hidden;

  &--loading,
  &--error {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-bg-secondary;
    color: $color-text-tertiary;
    font-size: $font-size-md;
  }
}

